<div class="page-header">
  <h2>Customer</h2>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <h5 class="col-sm-2 text-right"><b>Name</b></h5>
      <h5 class="col-sm-10"><b ng-bind="customer.name"></b></h5>
    </div>
    <div class="row">
      <h5 class="col-sm-2 text-right"><b>Link</b></h5>
      <h5 class="col-sm-10"><span ng-bind="customer.url"></span></h5>
    </div>
    <div class="row">
      <h5 class="col-sm-2 text-right"><b>Description</b></h5>
      <h5 class="col-sm-10"><span ng-bind="customer.description"></span></h5>
    </div>

    <div class="row">
      <h5 class="col-sm-2 text-right"><b>Member Since</b></h5>
      <h5 class="col-sm-10"><span ng-bind="utils.momentFromNow(customer.created)"></span></h5>
    </div>

    <div class="row">
      <h5 class="col-sm-2 text-right"><b>Total Orders</b></h5>
      <h5 class="col-sm-10" ng-bind="customer.orders.length"></h5>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
  <th class="col-md-1">Order ID</th>
  <th class="col-md-1">Ordered at</th>
  <th class="col-md-2">Shipping At</th>
  <th class="col-md-1">COD received</th>
  <th class="col-md-1">Status</th>
  </thead>

  <tbody>
  <tr ng-repeat="order in customer.orders" ui-sref="edit_order({orderId: order.id})">
    <td><a ui-sref="edit_order({orderId: order.id})" ng-bind='order.id'></a></td>
    <td ng-bind="utils.momentFromNow(order.created)"></td>
    <td ng-bind="utils.simpleDateFormat(order.shippingAt)"></td>
    <td ng-bind="order.codReceived"></td>
    <td ng-bind="order.shippingStatus.name"></td>
  </tr>
  </tbody>
</table>
